* {
  font-family: Arial, Helvetica, sans-serif;
  color: #0d3b66;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  background-color: #faf0ca;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 6px dashed #0d3b66;
  border-radius: 0 0 40% 40%;
}

.header-text {
  position: relative;
  top: -30px;
  display: inline;
  width: 80%;
  margin: 0 9%;
  padding: 10px 10%;
  height: 30px;
  font-size: 35px;
  color: #0d3b66;
}

.logo-small {
  height: 25px;
  width: 25px;
}

.small-text {
  font-size: 11px;
}

.header-input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #0d3b66;
}

.header-input:focus {
  border-bottom: 2px solid #238bec;
  outline: none;
  background: rgb(238, 150, 75);
  background: linear-gradient(
    0deg,
    rgba(238, 150, 75, 0.43461134453781514) 0%,
    rgba(33, 212, 249, 0) 60%
  );
}

.cargando {
  height: 150px;
  width: 150px;
}

.bodier {
  position: absolute;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

body {
  padding: 60px;
  background-color: #f95738;
  overflow-x: hidden;
}

.search {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
}

.search-text {
  text-align: left;
  margin: 10px 0%;
  font-weight: 700;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: #0d3b66;
  border: 2px groove #0d3b66;
}

.card-title {
  color: #faf0ca;
  font-size: 25px;
}

.card {
  align-content: center;
  border: 1px solid #0d3b66;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  background-color: #faf0ca;
  box-shadow: 5px 2px 9px 5px rgba(0, 0, 0, 0.26);
}

.card p {
  text-aling: center;
}

.card img {
  max-height: 150px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
